<%= simple_form_for(@health_status) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :systolic, input_html: { value: '110' } %>
    <%= f.input :diastolic, input_html: { value: '80' } %>
    <%= f.input :pulse, input_html: { value: '80' } %>
    <%= f.input :condition %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
