<p>
  <strong>収縮期血圧(上)</strong>
  <%= @health_status.systolic %>
</p>

<p>
  <strong>拡張期血圧(下)</strong>
  <%= @health_status.diastolic %>
</p>

<p>
  <strong>脈拍</strong>
  <%= @health_status.pulse %>
</p>

<p>
  <strong>体調</strong>
  <%= @health_status.condition%>
</p>

<div class="btn btn-border">
  <%= link_to '健康記録を編集する', edit_health_status_path(@health_status) %>
</div>
<br><br>
<div class="btn btn-border">
  <%= link_to '健康状態一覧に戻る', health_statuses_path %>
</div>
