<h1>かかりつけ薬局一覧</h1>

<table>
  <thead>
    <tr>
      <th>薬局名</th>
      <th>薬局の住所</th>
      <th>薬局の電話番号</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pharmacies.each do |pharmacy| %>
      <tr>
        <td><%= pharmacy.name %></td>
        <td><%= pharmacy.address %></td>
        <td><%= pharmacy.tel %></td>
        <td><%= link_to 'この薬局の詳細を見る', pharmacy %></td>
        <td><%= link_to 'この薬局の情報を編集する', edit_pharmacy_path(pharmacy) %></td>
        <td><%= link_to '削除p', pharmacy, method: :delete, data: { confirm: '本当に削除しますか' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '服薬歴', medication_histories_path %>
