<p>
  <strong>薬局名</strong>
  <%= @pharmacy.name %>
</p>

<p>
  <strong>薬局の住所</strong>
  <%= @pharmacy.address %>
</p>

<p>
  <strong>薬局の電話番号</strong>
  <%= @pharmacy.tel %>
</p>

<p>
  <strong>薬品名:</strong>
  <%= @pharmacy.medication_history.name %>
</p>

<%= link_to '薬局の情報を編集する', edit_pharmacy_path(@pharmacy) %> 
<%= link_to '薬局の一覧へ戻る', pharmacies_path %>
