<%= simple_form_for @medical_history do |f| %>
  <% if medical_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medical_history.errors.count, "error") %> prohibited this medical_history from being saved:</h2>

      <ul>
      <% medical_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.input :start_on %>
  </div>

  <div class="field">
    <%= f.input :surgery %>
  </div>

  <div class="field">
    <%= f.input :surgery_on, include_blank: true %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

  <h3>Hospitals</h3>
  <div id="hospitals">
    <%= f.simple_fields_for :hospitals do |hospital| %>
      <%= render 'hospital_fields', f: hospital %>
    <% end %>
    <div id="links">
      <%= link_to_add_association 'add hospital',f, :hospitals %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
