<h1>既往歴</h1>

<table>
  <thead>
    <tr>
      <th>病名</th>
      <th>治療開始日</th>
      <th>手術名</th>
      <th>手術日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_histories.each do |medical_history| %>
      <tr>
        <td><%= medical_history.name %></td>
        <td><%= l medical_history.start_on, format: :long %></td>
        <% if medical_history.surgery? %>
          <td><%= medical_history.surgery %></td>
        <% else %>
          <td>無し</td>
        <% end %>
        <% if medical_history.surgery_on? %>
          <td><%= l medical_history.surgery_on, format: :short %></td>
        <% else %>
          <td>無し</td>
        <% end %>
        <td><%= link_to 'この既往歴の詳細を見る', medical_history, class:"btn btn-outline-success" %></td>
        <td><%= link_to 'この既往歴を編集する', edit_medical_history_path(medical_history) ,class:"btn btn-outline-primary"%></td>
        <td><%= link_to '削除', medical_history, method: :delete, data: { confirm: '本当に削除しますか？' },class:"btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<div class="btn btn-border">
  <%= link_to '新しい既往歴を作成する', new_medical_history_path %></div>
<br><br>
<br><br>
<div class="btn btn-border">
  <%= link_to 'かかりつけ医一覧を見る', hospitals_path %>
</div>