
<p>
  <strong>傷病名</strong>
  <%= @medical_history.name %>
</p>

<p>
  <strong>治療開始日</strong>
  <%= l @medical_history.start_on, format: :long %>
</p>

<p>
  <strong>手術名</strong>
  <% if @medical_history.surgery? %>
    <%= @medical_history.surgery %>
  <% else %>
    <p>無し</p>
  <% end %>
</p>

<p>
  <strong>手術日</strong>
  <% if @medical_history.surgery_on? %>
    <%= l @medical_history.surgery_on, format: :long %>
  <% else %>
    <p>無し</p>
  <% end %>
</p>

<div>
  <strong>かかりつけ医:</strong>
  <% @medical_history.hospitals.each do |hospital| %>
    <%= hospital.name %>
  <% end %>
</div>


<%= link_to '編集する', edit_medical_history_path(@medical_history) %>
<%= link_to '既往歴一覧に戻る', medical_histories_path %>
