<h2><%= t('.title', resource: resource.model_name.human) %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <%= f.input :login_name, autofocus: true %>
  </div>

  <%= f.fields_for :account do |f| %>
    <br />
    <br />
    <div class="field">
      <%= f.input :name %>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.input :birth_date %>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.file_field :icon, onchange: 'previewFileWithId(preview)', class: 'form-control mb-3', accept: 'image/*' %>
      <%= f.hidden_field :icon_cache %>
      <% if @user.account.icon? %>
        <%= image_tag @user.account.icon.url, id: 'preview', class: "icon", alt: "ユーザーアイコン", size: '300x300'%> 
      <% else %>
        <%= image_tag "default.png", class: "icon", alt: "ユーザーアイコン", id: "preview",  size: '300x300'%>
      <% end %>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.input :mail %>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.input :address %>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.input :tel%>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.select :allergy, Account.allergies.keys.to_a,{} %>
    </div>
  <% end %>

  <br />
  <br />
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('.update'), class:" button" %>
  </div>
<% end %>


<%= link_to t('devise.shared.links.back'), :back, class: "button" %>

<br><br><br><br><br><br>
<h3><%= t('.cancel_my_account') %></h3>
<p> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

