<h2><%= t('.sign_up') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <br />
  <br />
  <div class="field">
    <%= f.input :login_name, autofocus: true, placeholder: "アプリを使うときのお名前" %>
  </div>

  <br />
  <br />
  <div class="field">
    <%= f.input :password, autocomplete: "new-password", placeholder: "******"%>
  </div>

  <br />
  <br />
  <div class="field">
    <%= f.input :password_confirmation, autocomplete: "new-password", placeholder: "******"%>
  </div>

  <%= f.fields_for :account do |f| %>

    <br />
    <br />
    <div class="field">
      <%= f.input :name, placeholder: "本名" %>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.input :birth_date, {start_year:Time.now.year-100, end_year:Time.now.year, prompt:'選択してください'} %>
    </div>

    <br />
    <br />
    <div>
      <%= f.file_field :icon, onchange: 'previewFileWithId(preview)', class: 'form-control mb-3', accept: 'image/*' %>
      <%= f.hidden_field :icon_cache %>
      <% if @user.account.icon? %>
        <%= image_tag @user.account.icon.url, id: 'preview', class: "icon", alt: "ユーザーアイコン", size: '300x300'%> 
      <% else %>
        <%= image_tag "default.png", class: "icon", alt: "ユーザーアイコン", id: "preview",  size: '300x300'%>
      <% end %>
    </div>
      
    <br />
    <br />
    <div class="field">
      <%= f.input :mail , placeholder: "abc＠exmple.com"%>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.input :address, placeholder: "東京都" %>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.input :tel, placeholder: "0123456789" %>
    </div>

    <br />
    <br />
    <div class="field">
      <%= f.label :allergy%><br />
      <%= f.select :allergy, Account.allergies.keys.to_a,{} %>
    </div>
  <% end %>

    <br />
  <div class="actions">
    <%= f.submit t('.sign_up'), class:"submit-button" %>
  </div>
<% end %>


<p class="confirm_account">すでにアカウントをお持ちですか？</p>
<div class="btn btn-border">
  <a><%= render "devise/shared/links" %></a>
</div>
