<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
      <%= f.label :login_name %><br />
      <em>全角ひらがな、全角カタカナ、漢字で入力してください</em> <br />
    <%= f.text_field :login_name, autofocus: true, placeholder: "アプリを使うときのお名前" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "******"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <em>再度同じパスワードを入力してください</em><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "******"%>
  </div>

  <%= f.fields_for :account do |a| %>
    <div class="field">
      <%= a.label :name %><br />
      <%= a.text_field :name, placeholder: "本名" %>
    </div>
    <div class="field">
      <%= a.label :birth_date %><br />
      <%= a.date_field :birth_date %>
    </div>
    <div class="field">
      <%= a.label :icon %><br />
      <%= a.file_field :icon %>
    </div>
    <div class="field">
      <%= a.label :mail %><br />
      <%= a.text_field :mail , placeholder: "abc＠exmple.com"%>
    </div>
    <div class="field">
      <%= a.label :address %><br />
      <%= a.text_field :address %>
    </div>
    <div class="field">
      <%= a.label :tel %><br />
      <%= a.telephone_field :tel, placeholder: "012-345-6789"%>
    </div>
    <div class="field">
      <%= a.label :allergy %><br />
      <%= a.select :allergy, Account.allergies.keys.to_a,{} %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
