
<%= form_for(@diary) do |f| %>


  <div class="form-inputs">
    <%= f.label :title %><br />
    <%= f.text_field :title %><br />
    <%= f.label :content %><br />
    <%= f.text_field :content %><br />
    <%= f.label :image %><br />
    <%= f.file_field  :image, onchange: 'previewFileWithId(preview)', class: 'form-control mb-3', accept: 'image/*'  %>
  </div>
    <% if @diary.image? %>
      <%= image_tag @diary.image, id: 'preview', size: '300x200'%> 
    <% else %>
      <%= image_tag "default.png",id: "preview" %>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
