<%= simple_form_for(@diary) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <%= f.input :title %><br />
    <%= f.input :content %><br />
    <%= f.label :image %><br />
    <%= f.file_field  :image, onchange: 'previewFileWithId(preview)', class: 'form-control mb-3', accept: 'image/*'  %>
  </div>
    <% if @diary.image? %>
      <%= image_tag @diary.image.url, id: 'preview', size: '300x300'%> 
    <% else %>
      <%= image_tag "default2.png",id: "preview", size: '300x300' %>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
