<h1>お気に入りの日記</h1>

<table>
  <thead>
    <tr>
      <th>題名</th>
      <th>内容</th>
      <th>画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= diary.title %></td>
        <td><%= diary.content %></td>
        <% if diary.image? %>
          <td><%= image_tag diary.image.url, size: '400x300' %></td>
        <% else %>
          <td>画像はありません</td>
        <% end %>
        <td><%= link_to 'この日記の詳細', diary %></td>
      <% if current_user.own?(diary) %>
        <td><%= link_to '削除',  diary_path(diary), data: { confirm: 'Are you sure?'}, method: :delete %></td>
        <td><%= link_to '編集', edit_diary_path(diary)  %>
      <% end %>
          <td id="favorite_buttons_<%= diary.id %>">
          <%= render "favorites/favorites", diary: diary %>
          </td>
        </div>
    </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to '日記を書く', new_diary_path %>
<%= link_to 'メニューに戻る', menu_diary_path(id: current_user.id) %>
