<h1>みんなの日記</h1>
<br>
<br>
<% if @diaries == [] %>
<h3>まだ日記の投稿はありません</h3>
<% end %>

<div class="row">
  <% @diaries.each do |diary| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div>
            <% if diary.image? %>
              <%= image_tag diary.image.url, size: '400x400', class: "card-img-top" %>
            <% else %>
              <%= image_tag "default2.png", size: '400x400', class: "card-img-top"%>
            <% end %>
          </div>
          <ul class="card-info row">
            <li class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <p><%= diary.user.account.name %><p>
            </li>
            <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <%= image_tag diary.user.account.icon.url,size: '100x100', class:"rounded-circle"%>
            </li>
            <li class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <h5 class="card-title">
                <%= diary.title %>
              </h5>
            </li>
          </ul>
            <%= link_to 'この日記の内容を見る', diary, class:"btn btn-outline-success" %>
            <% if current_user.own?(diary) %>
              <%= link_to '削除',  diary_path(diary), data: { confirm: '本当に削除しますか?'}, method: :delete, class:"btn btn-outline-danger" %>
              <%= link_to '編集', edit_diary_path(diary), class:"btn btn-outline-primary" %>
            <% end %>
            <div class="fav" id="favorite_buttons_<%= diary.id %>">
              <%= render "favorites/favorites", diary: diary %>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="btn btn-border"><%= link_to '日記を書く', new_diary_path %></div>
<br>
<br>
<br>
<div class="btn btn-border"><%= link_to 'メニューに戻る', menu_diary_path(id: current_user.id) %></div>
