
<p>
  <strong>題名</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @diary.content %>
</p>


<% if @diary.image? %>
<p>
  <strong>画像</strong>
  <%= image_tag @diary.image.url, size: '550x550' %>
</p>
<% end %>
<% if @diary.user.id == current_user.id %>
  <%= link_to 'この日記を編集する', edit_diary_path(@diary), class:"btn btn-outline-primary"%>
<% end %>
<br>
<br>
<br>
<%= link_to '日記の一覧に戻る', diaries_path, class:'button' %>
