
<%= simple_form_for(@family) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "(例)鈴木" %>
    <%= f.file_field  :image, onchange: 'previewFileWithId(preview)', class: 'form-control mb-3', accept: 'image/*'  %>
  </div>
    <% if @family.image? %>
      <%= image_tag @family.image.url, id: 'preview', size: '300x300'%> 
    <% else %>
      <%= image_tag "default2.png",id: "preview", size: '300x300' %>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit, class:"button"%>
  </div>
<% end %>
