<p>
  <strong>Name:</strong>
  <%= @family.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @family.image.url ,size: '550x400' %>
</p>

<h2>わたしの家族</h2>
<% @family.members.each do |member| %>
  <tr>
    <td><%= member.user.account.name %></td>
    <td><%= image_tag member.user.account.icon.url, size: '300x300'  %></td>
  </tr>
<% end %>
<br>
<br>
<br>
<h5>招待</h5>
<%= form_with model: :member, scope: :post, url: family_members_path(@family), local: true do |form| %>
  <%= text_field_tag :email, '', size:100, placeholder: "家族のメールアドレスを入力してください" %>
  <%= form.button :submit %>
<% end %>

<%= link_to '削除', family_path(@family), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to '編集', edit_family_path(@family) %> |
<%= link_to '戻る', families_path %>
