<h1>
  <strong>家族名</strong>
  <%= @family.name %>
</h1>
<br>

<h2>
  <strong>家族の写真</strong><br />
  <% @family.image? %>
  <%= image_tag @family.image.url ,size: '550x550', class:"rounded-circle"%>
</h2>

<h2>わたしの家族</h2>
<% if @family.members.exists?%>
  <% @family.members.each do |member| %>
    <tr>
      <div class="members">
        <% unless member.user.account == nil %>
          <td><%= member.user.account.name %></td>
          <td><%= image_tag member.user.account.icon.url, size: '300x300', class:"rounded-circle"  %></td>
        <% end %>
      <div>
    </tr>
  <% end %>
<% end %>
<br>
<br>
<br>
<h5>招待</h5>
<%= form_with model: :member, scope: :post, url: family_members_path(@family), local: true do |form| %>
  <%= text_field_tag :email, '', placeholder: "家族のメールアドレス" %>
  <div class="form-actions">
    <%= form.button :submit, value: "招待", class:"btn btn-border" %>
  </div>
<% end %>


<br><br><br>
<%= link_to '削除', family_path(@family), method: :delete, data: { confirm: '本当に削除しますか?' },class:"btn btn-outline-danger" %>

<%= link_to '編集', edit_family_path(@family), class:"btn btn-outline-primary" %><br><br>

<div class="btn btn-border"><%= link_to '戻る', families_path %></diiv>