
<body class="wrapper">
  <div class="top-header">
    <div class="row">
      <div class="logocol-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= image_tag "logo.png", id: "logo" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 id="title">
          <p>デジタル健康手帳</p>
        </h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 id="caption">これは、あなたやあなたの大切な人の健康を願うアプリです。<br>
        ご家族と一緒にあなたの日常と健康を記録してみませんか？</h2>
      </div>
      <br>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav id="menubar">
          <ul>
            <li>
              <a><%= link_to "アプリを始める", tops_menu_path %></a>
            </li>
            <li>
              <a><%= link_to 'ゲストとしてアプリをおためし', users_guest_sign_in_path, method: :post %></a>
            </li>
            <li>
              <a><%= link_to 'ゲスト管理者ログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post %></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div> 
</body>

<%# <h1>ようこそ デジタル健康手帳へ</h1>
<div class="introductuon">
<h2>これは、あなたやあなたの大切な人の健康を願うアプリです。<br>
ご家族と一緒にあなたの日常と健康を記録してみませんか？</h2>
</div> %>

<%# <%= link_to "アプリを始める", tops_menu_path %>
<%# <%= link_to 'ゲストとしてアプリをおためし', users_guest_sign_in_path, method: :post %> 
<%# <%= link_to 'ゲスト管理者ログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post %> 