<h1>わたしのページ</h1>
<br />

<p><strong>プロフィール画像</strong><br />
<% if @user.account.icon? %>
  <%= image_tag @user.account.icon.url, class: "icon", alt: "ユーザーアイコン", size: '300x300', class:"rounded-circle"  %>
<% else %>
  <%= image_tag "default.png", class: "icon", alt: "ユーザーアイコン", size: '300x300', class:"rounded-circle" %>
<% end %>
</p>
<p><strong>ログイン名</strong><%= @user.login_name %></p>
<p><strong>本名</strong><%= @user.account.name %></p>
<p><strong>生年月日</strong><%= l @user.account.birth_date, format: :long %></p>
<p><strong>住所</strong><%= @user.account.address %></p>
<p><strong>電話番号</strong><%= @user.account.tel %></p>
<p><strong>メールアドレス</strong><%= @user.account.mail %></p>
<p><strong>お薬のアレルギー</strong><%= @user.account.allergy %></p>

<div class="btn btn-border">
  <%= link_to "既往歴を見る", medical_histories_path %></div><br><br>
<div class="btn btn-border">
  <%= link_to '服薬歴を見る', medication_histories_path %></div><br><br>

<div class="btn btn-border"><%= link_to "プロフィール編集", edit_user_registration_path %></div>
