<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
      <% hospital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "(例)あいう病院" %>
  </div>
<br>
  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, placeholder: "(例)東京都" %>
  </div>
<br>
  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel, placeholder: "(例)0123456789" %>
  </div>
<br>
  <div class="form-actions">
    <%= form.submit %>
  </div>
<% end %>
