
<h1>Medication Histories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Usage</th>
      <th>Prescription on</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medication_histories.each do |medication_history| %>
      <tr>
        <td><%= medication_history.name %></td>
        <td><%= medication_history.usage %></td>
        <td><%= medication_history.prescription_on %></td>
        <td><%= medication_history.note %></td>
        <td><%= link_to 'Show', medication_history %></td>
        <td><%= link_to 'Edit', edit_medication_history_path(medication_history) %></td>
        <td><%= link_to 'Destroy', medication_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medication History', new_medication_history_path %>
<%= link_to 'かかりつけ薬局', pharmacies_path %>
