<h3>服薬歴詳細</h3>
<p>
  <strong>薬品名</strong>
  <%= @medication_history.name %>
</p>

<p>
  <strong>服薬方法</strong>
  <%= @medication_history.usage %>
</p>

<p>
  <strong>処方日</strong>
  <%= @medication_history.prescription_on %>
</p>

<p>
  <strong>備考</strong>
  <%= @medication_history.note %>
</p>

<div>
  <strong>かかりつけ薬局:</strong>
  <% @medication_history.pharmacies.each do |pharmacy| %>
    <%= pharmacy.name %>
  <% end %>
</div>

<%= link_to '服薬歴を編集する', edit_medication_history_path(@medication_history),class:"btn btn-outline-primary"%> <br><br><br>

<div class="btn btn-border">
  <%= link_to '服薬歴一覧に戻る', medication_histories_path %>
</div>
