<!DOCTYPE html>
<html>
  <head>
    <title>Kenkoutecho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <% unless controller.controller_name == "tops" && action_name == "index" %>
      <header>
        <nav class="navbar navbar-dark navbar-fixed-top navbar-inverse navbar-expand-lg">
          <div class="container">
            <% unless Rails.env.test? %>
              <a class="navbar-brand" href="/"><%= image_tag ("toplogo.png")%>デジタル健康手帳</a>
            <% end %>
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item"><%= link_to "メニュー", lists_index_path %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <% if current_user.admin? %>
                  <li class="nav-item"><%= link_to '管理者画面', rails_admin_path %></li>
                <% end %>
              <% else %>
                <li class="nav-item"><%= link_to "新規登録", new_user_registration_path %></li>
                <li class="nav-item"><%= link_to "ログイン", new_user_session_path %></li>
                <li class="nav-item"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></li>
                <li class="nav-item"><%= link_to 'ゲスト管理者ログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
    <% end %>

    <div class="content container-fluid">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      
      <%= yield %>
    </div>

    <footer class="footer">
      <p class="text-muted">©︎ 2021 kenkoutecho</p>
    </footer>
  </body>
</html>
